<!-- deviseを複数のscopeで使う練習、activestorageでの写真投稿-->
<!-- 管理者→従業員のアカ作成, フォルダ作成, 問題作成 -->
<!-- 従業員→フォルダ作成, 問題作成（自身が紐づけられているフォルダにしかアクセスできない）-->

<p>ランダムテストでは、白チャートの基本例題をランダムで演習することができます。</p><br>
<p>問題構成は、数と式→図形と計量→2次関数→集合と命題→データの分析。</p>

<!-- 場合の数と確率→整数の性質→図形の性質-->
<!-- 3場合の数と確率、整数の性質、図形の性質については、2つ選択-->

<% if admin_user_signed_in? %>
  <%= link_to "問題作成", new_admin_user_question_path(current_admin_user), class:"btn btn-danger" %><br>
<% elsif user_signed_in? %>
  <%= link_to "問題作成", new_admin_user_question_path(current_user.admin_user.id), class:"btn btn-danger" %><br>
<% end %>

<% if admin_user_signed_in? %>
  <%= link_to "フォルダ作成", new_admin_user_folder_path(current_admin_user), class:"btn btn-warning" %><br>
<% elsif user_signed_in? %>
  <%= link_to "フォルダ作成", new_admin_user_folder_path(current_user.admin_user.id), class:"btn btn-warning" %><br>
<% end %>

<div class="login-area" >
  <%= link_to "従業員ログイン", login_path %>
  <%= link_to "管理者ログイン", admin_login_path %>
</div>
